* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: black;
}
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
}

.nav-list {
  width: 50%;
  display: flex;
  align-items: center;
}

.right-nav {
  width: 50%;
  text-align: right;
  padding-right: 30px;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 40%;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.nav-list li {
  list-style: none;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  padding: 0px 55px;
}
.nav-list a:hover {
  color: gray;
}

#search {
  padding: 4px;
  font-size: 17px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.background {
  background: rgba(0, 0, 0, 0.7) url("../images/background.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  max-width: 60%;
  height: 80%;
}

.first-section {
  height: 100vh;
}

.first-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.second-half {
  width: 30%;
}
.second-half img {
  width: 75%;
  display: block;
  margin: auto;
  border: 2px solid white;
  border-radius: 50%;
}

.text-big {
  font-size: 45px;
  font-weight: bold;
  padding: 6px 0;
}
.text-small {
  font-size: 18px;
}

.button {
  padding: 8px 20px;
  margin: 8px 4px;
  border: none;
  color: white;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.button-small {
  padding: 6px 20px;
  vertical-align: middle;
}

.reverse {
  flex-direction: row-reverse;
}

.info-box {
  max-width: 80%;
}

.info-image img {
  width: 80%;
  border-radius: 5px;
  border: 2px solid yellow;
}
.info-image {
  height: 100%;
}

.info-section {
  padding: 40px 0;
}
