html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section {
  scroll-margin-top: 100px;
}

.main-section {
  background-color: rgba(0, 0, 0, 0.7);
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
.darken-bg {
  background: rgba(0, 0, 0, 0.9) url("../images/background.jpg");
  background-blend-mode: darken;
  background-size: cover;
}
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.right-nav {
  width: 30%;
  text-align: right;
  padding-right: 2vw;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 80px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.navigation-items {
  padding-left: 0px;
  margin-left: 0px;
  display: flex;
}

.navigation-items li {
  list-style: none;
  padding: 40px 30px;
  font-size: 20px;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  padding: 30px 30px;
}
.navigation-items a:hover {
  color: gray;
}

#search {
  padding: 4px 16px;
  font-size: 17px;
  border: none;
  background: transparent;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  vertical-align: middle;
  color: white;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  max-width: 60%;
  height: 80%;
}

.first-section {
  height: 100vh;
}

.first-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.second-half {
  width: 30%;
}
.second-half img {
  width: 75%;
  display: block;
  margin: auto;
  border: 2px solid white;
  border-radius: 50%;
}

.text-big {
  font-size: 40px;
  font-weight: bold;
  padding: 6px 0;
}
.text-small {
  font-size: 16px;
}

.button {
  padding: 8px 20px;
  margin: 8px 4px;
  border: none;
  color: white;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s ease-in;
}

.button:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 10px rgba(12, 249, 71, 0.8);
}

.button:active {
  box-shadow: none;
  background-color: rgb(210, 206, 206);
}
.button-small {
  padding: 6px 20px;
  vertical-align: middle;
}
.form button {
  margin-top: 40px;
}

.reverse {
  flex-direction: row-reverse;
}

.info-box {
  max-width: 80%;
}

.info-image img {
  width: 80%;
  border-radius: 5px;
  border: 2px solid yellow;
}
.info-image {
  height: 100%;
}

.info-section {
  padding: 40px 0;
}

.contact-section {
  text-align: center;
  height: 100%;
}
.form {
  max-width: 500px;
  margin: 10px auto;
  margin-bottom: 0px;
  padding-bottom: 5px;
}
.form input,
textarea {
  font-size: 18px;
  margin: 15px 0;
  width: 94%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  background-color: transparent;
  color: white;
}

.form textarea,
input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.form textarea {
  color: white;
}

.contact-us-text {
  font-size: 40px;
  color: white;
  padding: 20px 0;
  margin-bottom: 0px;
}

footer {
  color: rgba(255, 255, 255, 0.76);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 20px;
}

.burger {
  position: absolute;
  right: 5%;
  top: 28.5px;
  display: none;
}

.line {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px 3px;
  border-radius: 5px;
}
